# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
.env/
speech_env/

# -----------------------------
# Jupyter checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Large datasets (IMPORTANT)
# -----------------------------
q2/librispeech/
q2/local_data/

# HuggingFace cache (if any)
.cache/
~/.cache/

# -----------------------------
# Audio outputs
# -----------------------------
*.wav
*.flac
*.mp3

# -----------------------------
# Results & generated outputs
# -----------------------------
q3/examples/


# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Misc
# -----------------------------
*.zip
*.tar.gz
